/* Header Styles */
.header {
  background-color: #333;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;

    li a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;

      &:hover,
      &.active {
        text-decoration: underline;
      }
    }
  }
}

/* Main Content */
main {
  padding: 0; // Remove unnecessary padding
  margin-top: 0; // Ensure no margin at the top
  min-height: 80vh;
}

/* Footer Styles */
.footer {
  background-color: #222;
  color: #bbb;
  text-align: center;
  padding: 1rem 0;

  .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;

    li a {
      color: #bbb;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}
